@page "/exhibits"
@using Microsoft.AspNetCore.Components.Authorization
@inject VirtualMuseum.Services.ExhibitService ExhibitService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Экспонаты</PageTitle>

<h1>Экспонаты</h1>
<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="CreateExhibit">Добавить экспонат</button>
    </Authorized>
</AuthorizeView>




@code {
    private List<VirtualMuseum.Models.Exhibit> exhibits = new();

    protected override async Task OnInitializedAsync()
    {
        exhibits = await ExhibitService.GetAllAsync();
    }
    void CreateExhibit()
    {
        Navigation.NavigateTo("/exhibits/create");
    }
}