@page "/tours"
@using Microsoft.AspNetCore.Components.Authorization
@inject VirtualMuseum.Services.TourService TourService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Туры</PageTitle>

<h1>Туры</h1>

<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="CreateTour">Добавить тур</button>
    </Authorized>
</AuthorizeView>
<div class="mb-3">
    <div class="row m-3">
        @foreach(var tour in tours)
        {
            <div class="card m-3" style="width: 18rem; height: 400px;">
                <img src="@tour.Exhibits[0]?.Images[0]?.ImageUrl" class="card-img-top" style="height: 200px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@tour.Name</h5>
                    <p class="card-text">(@tour.Date.ToShortDateString()) <br />@tour.Description</p>
                    <a href="/tours/@tour.Id" class="btn btn-primary">Просмотреть</a>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<VirtualMuseum.Models.Tour> tours = new();

    protected override void OnInitialized()
    {
        tours = TourService.GetTours();
    }
    void CreateTour()
    {
        Navigation.NavigateTo("/tours/create");   
    }
}
